/* Media Queries */

// Max 1600px
@media only screen and (max-width: 1600px) {
    .post {
        min-width: calc(25% - 32px); 
        max-width: calc(25% - 32px);
    }
 
    .skill {
        min-width: calc(20% - 32px)!important; 
        max-width: calc(20% - 32px)!important;
    }

    .cv {
        width: 90%;
        height: auto;
        margin: 0px auto 0px;
        padding: 30px 0px;
    }
}
 
// Max 1300px
@media only screen and (max-width: 1300px) {
    .post {
        min-width: calc(33.3% - 32px); 
        max-width: calc(33.3% - 32px);
    } 
 
    .skill {
        min-width: calc(25% - 32px)!important; 
        max-width: calc(25% - 32px)!important;
    }

    .cv {
        width: 94%;
        height: auto;
        margin: 0px auto 0px;
        padding: 30px 0px;
    }
}
 
// Max 1100px
@media only screen and (max-width: 1100px) {
  
    .skill {
        min-width: calc(33.3% - 32px)!important; 
        max-width: calc(33.3% - 32px)!important;
    }

    .cv {
        width: 94%;
        height: auto;
        margin: 0px auto 0px;
        padding: 30px 0px;
    }

    .cv-left {
        width: 98%;
        margin: 0px auto 20px auto;
        float: none;
    }
    
    .cv-right {
        width: 98%;
        margin: 0px auto;
        float: none;
    }
}
 
// Max 960px
@media only screen and (max-width: 960px) {
    .page-sidebar {
        position: static;
        width: 100%;
        background-color: #fff;
        z-index: 10;
        border-right: 0px solid #ececec;
        padding-top: 50px!important;
        padding-bottom: 50px!important;
    }
    
    .sidebar-logo {
        width: 100%;
        height: auto;
        margin: 0px auto 30px auto!important;
    }
    
    .sidebar-content {
        width: 76%;
        height: auto;
        margin: 0px auto 20px auto!important;
    }
    
    .sidebar-footer {
        width: 100%;
        height: auto;
        position: static!important;
        bottom: 0;
        left: 0;
    }

    .footer-copy {
        padding-bottom: 0px!important;
    }

    .content-topbar {
        width: 100%;
        height: 90px;
        background-color: #FFFFFF;
        position: static;
        border-bottom: 1px solid #ececec;
        display: none;
    }

    .sidebar-links {
        display: none;
    }

    .page-content {
        padding-left: 0px!important;
    }

    .content-masonry {
        padding-top: 0px!important;
    }
 
    .menu-buttons{
        position: absolute;
        display: block;
    }
 
    .mobile-menu{
        display: block;
    }
 
    .menu-link{
        font-size: 2em;
        margin: 30px auto;
    }
 
    .post {
        min-width: calc(33.3% - 32px); 
        max-width: calc(33.3% - 32px);
    }
 
    .skill {
        min-width: calc(25% - 32px)!important; 
        max-width: calc(25% - 32px)!important;
    }

    .cv {
        width: 94%;
        height: auto;
        margin: 0px auto 0px;
        padding: 30px 0px;
    }
 }
 
// Max 740px
@media only screen and (max-width: 740px) {
    .cv {
        width: 94%;
        height: auto;
        margin: 0px auto 0px;
        padding: 30px 0px;
    }

    .cv-left {
        width: 98%;
        margin: 0px auto 20px auto;
        float: none;
    }
    
    .cv-right {
        width: 98%;
        margin: 0px auto;
        float: none;
    }
    
    .tooltip .tooltiptext {
        margin-left: -250px;
    }
 
    .post {
        min-width: calc(50% - 32px); 
        max-width: calc(50% - 32px);
    }
 
    .skill {
        min-width: calc(33.3% - 32px)!important; 
        max-width: calc(33.3% - 32px)!important;
    }
}

// Max 520px
@media only screen and (max-width: 520px) {
    .skill {
        min-width: calc(50% - 32px)!important; 
        max-width: calc(50% - 32px)!important;
    }
}
 
.not-available{
    text-decoration: line-through!important;
    cursor: auto!important;
}
 
.not-available:hover{
    color: red!important;
}
 
.skill{
    width: 100%;
    min-width: calc(16.6666% - 32px); 
    max-width: calc(16.6666% - 32px);    
    background: #fff;
    margin: 16px;
    padding: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-bottom: 2px solid rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0px 7px 30px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 30px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 30px -16px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.skill span{
    display: block;
    margin-top: 10px;
    text-align: center;
    line-height: 1.8;
    font-family: "Raleway";
    font-size: 14px;
}
 
.skill div img{
    width: 100%;
    height: auto;
}