.alternatives{
    width: 80%;
    height: auto;
    margin: 0px auto;
    text-align: center;
    padding: 120px 0px;

    .alternatives-title{
        font-size: 3rem;
        color: #04364A;
        letter-spacing: 0.1rem;
        margin-bottom: 30px;
    }

    .alternatives-line{
        display: block;
        background-color: $orange;
        width: 60px;
        height: 8px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        margin: 0px auto 24px;
    }

    .alternatives-description{
        width: 40%;
        margin: 0px auto 60px;
        color: $fontColor;
        font-size: 1.1rem;
        line-height: 1.8;
    }
}