/* 1.1 - Sidebar */

.left-sidebar {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 250px;
   background-color: #FFFFFF;
   z-index: 10;
   animation: slideIn-LeftSidebar 1s forwards 0s ease;
}

@keyframes slideIn-LeftSidebar{
   0%{
      transform: translateX(-270px);
      opacity: 0;
      }
   100%{
      transform: translateX(0);
      opacity: 1;
      }
}

/* 1.2 - Logo */

.logo{
   width: 100%;
   height: auto;
   margin: 50px auto 100px auto;
   
   .logo-image{
      width: 94px;
      height: 94px;
      margin: 0px auto;
   }
   
   .logo-text h1{
      width: 100%;
      margin: 10px auto;
      height: auto;
      font-size: 24px;
      font-family: "Montserrat";
      text-align: center;
   }
}


/* 1.3 - Introduction */

.sidebar-introduction {
   width: 100%;
   height: auto;
   margin: 70px auto 0px auto;
   padding: 30px;
   
   p{
       font-family: 'Open Sans', sans-serif;
       color: #888888;
       font-weight: 400;
       font-size: 14px;
       line-height: 1.7;
       text-align: center;
   }
}


@keyframes navItemAnimation{
    0%{
        transform: translateX(0);
        }
    100%{
        transform: translateX(10px);
        }
}

.active-link {
   color: $main-color!important;
}


/* 1.4 - Footer */

.left-sidebar-footer {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    
    .footer-socialmedia {
        width: 185px;
        height: 35px;
        margin: 0px auto;
        
        .soc-icon {
            width: 34px;
            height: 34px;
            float: left;
            margin: 0px 6px;
            background-color: #d79c6a;
            border-radius: 22px;
            padding: 9px;
            font-size: 14px;
            font-family: "Montserrat", sans-serif;
            text-align: center;
            color: #FFFFFF;
            cursor: pointer;

            a {
               color: #505050;
            }
         }
         
         .soc-icon:hover{
            background-color: #b77944;
         }
      }
      
      .footer-copyright {
         width: 100%;
         padding: 20px 0px;
         text-align: center;
         font-family: "Montserrat";
         color: #8d8d8d;
         font-size: 14px;
         
         span {
            font-weight: 800;
            font-weight: bold;
            display: block;
         }
      }
   }

#soc-1{
   opacity: 0;
   animation: socIcon 1s forwards 0.55s ease;
}

#soc-2{
   opacity: 0;
   animation: socIcon 1s forwards 0.75s ease;
}

#soc-3{
   opacity: 0;
   animation: socIcon 1s forwards 0.95s ease;
}

#soc-4{
   opacity: 0;
   animation: socIcon 1s forwards 1.15s ease;
}

@keyframes socIcon{
    0%{
        transform: translateY(30px);
        opacity: 0;
        }
    100%{
        transform: translateY(0);
        opacity: 1;
        }
}



   // TODO: Make a page partial? and add this?

.footer-page {
    width: 100%;
    border-top: 1px solid #cecece;
    margin-top: 40px; 
    padding: 30px 0px 0px 0px;
    text-align: center;
    font-family: "Montserrat";
    color: #8d8d8d;
    font-size: 14px;
  }