/* 3.1 - Page sidebar right */

.page-sidebar-right{
   width: 320px;
   height: 100%;
   background-color: $main-color;
   position: fixed;
   top: 0;
   right: 0;
   color: #FFFFFF;
   overflow-y: auto;
   overflow-x: hidden;
   -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.lolol{
    display: block!important;
}

/* width */
.page-sidebar-right::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.page-sidebar-right::-webkit-scrollbar-track {
    background: #efaf78;
}

/* Handle */
.page-sidebar-right::-webkit-scrollbar-thumb {
    background: #bd8250;
}

/* Handle on hover */
.page-sidebar-right::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.sidebar-right-content h1{
   width: 100%;
   height: auto;
   font-size: 26px;
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 2px;
   margin-bottom: 20px;
}

.sidebar-right-content h3{
   width: 100%;
   height: auto;
   font-size: 16px;
   font-family: 'Montserrat', sans-serif;
}

.sidebar-right-content p{
   width: 100%;
   height: auto;
   font-size: 14px;
   line-height: 1.6;
   font-family: 'Open Sans', sans-serif;
}

.area{
   background-color: #bd8250;
   border-radius: 4px;
   padding: 30px;
   height: auto;
}

#instafeed{
   width: 100%;
   margin: 0px auto;
   background-color: #bd8250;
}

.instaimg{
   width: 30%;
   height: 100%;
   float: left;
   margin: 2%;
   background-color: #FFFFFF;
   padding: 4px 4px 0px 4px;
   border-radius: 4px;
   cursor: pointer;
}

.instaimg:nth-child(3n+1){
   margin: 2% 2% 2% 0%;
}

.instaimg a img{
   width: 100%;
   height: auto;
}

.instaimg a img:hover{
   opacity: 0.6;
}


.authorname{
   font-size: 18px;
   color: #505050;
   font-weight: 700;
   line-height: 1.2;
   font-family: 'Montserrat', sans-serif;
   margin: 10px 0px;
   display: block;
}

.authorinfo{
   font-size: 14px;
   color: $main-color;
   font-weight: 700;
   line-height: 1.2;
   font-family: 'Montserrat', sans-serif;
   margin: 10px 0px;
   display: block;
}

.authordescr{
   height: auto;
   line-height: 1.6;
   display: block;
   color: #777777;
   font-size: 16px;
   font-family: 'Open Sans', sans-serif;
}

.text-quote{
   color: $main-color;
   font-size: 20px;
   font-style: italic;
   margin: 30px 40px;
   display: block;
}

.text-quote::before, .text-quote::after {
   content: "\"";
   font-size: 24px;
   line-height: 1.2;
}

.postbig-text p img{
   width: 40%;
   height: auto;
   box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.img-left{
   float: left;
   margin: 0px 30px 30px 0px;
}

.img-right{
   float: right;
   margin: 0px 0px 30px 30px;
}

.soc-icon-right {
    width: 34px;
    height: 34px;
    float: left;
    margin: 0px 6px;
    background-color: #eeedec;
    border-radius: 22px;
    padding: 9px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #d79c6a;
    cursor: pointer;
}

.soc-icon-right:hover{
   background-color: #ecb482;
   color:#FFFFFF;
}


// Slide test

.buttonz{
    position: fixed;
    top:0;
    width: 320px;
    z-index: 100;
}

.slide-button{
    width: 50%;
    float: left;
    padding: 20px;
    text-align: center; 
    color: #FFFFFF;
    cursor: pointer;
}

#slide-button1{
    background-color: #ebb88c;
}

#slide-button1:hover{
    background-color: #f0bf94;
}

#slide-button2{
    background-color: #ebb88c;
}

#slide-button2:hover{
    background-color: #f0bf94;
}

.cover{
    position: relative;
}

.slidebar{
    width: 620px;
    overflow: hidden;
    position: absolute;
    left:0;
}

.slide{
    width: 250px!important;
    margin: 50px 30px 30px 30px;
    min-height: 300px;
}

#slide1{
    float: left;
}

#slide2{
    float: left;
}

.active-slide{
    background-color: #d79c6a!important;
}

// Persons

.person{
    width: 46%;
    float: left;
    height: auto;
    background-color: #FFFFFF;
    color: #505050;
    border: 4px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    border-radius: 8px;
    margin: 2%;
    font-family: "Montserrat";
    cursor: pointer;
}

.person img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.person-name{
    display: block;
    padding: 10px 10px 4px 10px;
    font-size: 16px;
    text-align: center;
}

.person-description{
    display: block;
    font-size: 13px;
    padding: 0px 10px 10px 10px;
}



// testtttttt

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

#personSlider {
  position: relative;
  overflow: hidden;
}

#personSlider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#personSlider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0px;
  width: 200px;
  height: 270px;
  text-align: center;
}

.personWrapper{
    padding: 0 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.personPic{
    width: 150px;
    height: 150px;
    border-radius: 160px;
    background-color: #FFFFFF;
    margin: 0px auto 30px;
    border: 4px solid #FFFFFF;
}

.personPic img {
    border-radius: 160px;
    width: 100%;
    height: auto;
}

.personName{
    display: block;
    font-size: 18px;
    margin: 0px auto 10px;
    font-family: "Montserrat";
}

.personTitle{
    display: block;
    font-size: 14px;
    color:#FFFFFF;
    margin: 0px auto;
    font-family: "Montserrat";
}

a.control_prev, a.control_next {
    position: absolute;
    top: 25%;
    z-index: 999;
    display: block;
    width: auto;
    height: auto;
    background: #fffdfb;
    opacity: 0.8;
    color: #151515;
    text-decoration: none;
    font-weight: 600;
    font-size: 10px;
    cursor: pointer;
    border-radius: 20px;
}

#personSlider:hover > a.control_next{
  opacity: 1;
} 

#personSlider:hover > a.control_prev{
  opacity: 1;
} 

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a.control_prev {
  /* border-radius: 0 2px 2px 0; */
  padding: 10px 15px;
  margin-left: 6px;
}

a.control_next {
  right: 6px;
  /* border-radius: 2px 0 0 2px; */
  padding: 11px 15px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
  display:none;
}

 