/*

Hier komt de "inhoudsopgave" van de main.css style sheet

TODO: GridCSS layout

*/

/* html border box?*/
body {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #a4a4a4;
}

#wrapper{
  width: 800px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ececec;
  border: 3px solid #a4a4a4;
}

#prototype-description{
  width: 280px;
  height: 530px;
  margin: 40px 60px 0px 90px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding: 20px;
  float: left;
}

#description-content{
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
}

.description-title{
  font-size: 18px;
  color: #2f2f2f;
  text-decoration: underline;
  margin-bottom: 10px;
  display: block;
}
.description-text{
  font-size: 14px;
  color: #2f2f2f;
  margin-bottom: 10px;
  display: block;
}

#prototype-color{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#tile-holder{
  width: 100%;
  height: auto;
}

#smartphone{
  width: 280px;
  height: 530px;
  margin-top: 40px;
  background-image: url(../img/smartphone1.png);
  overflow: auto;
  float: left;
}

#smartphone-content-area{
  width: 230px;
  height: 407px;
  margin: 53px 15px 0px 15px;
  background-color: #f0f0f0;
  border: 1px solid #d9d9d9;
}

#app-header{
  width: 100%;
  height: 40px;
  background-color: #a4a4a4;
}

#header-arrow{
  width: 40px;
  height: 40px;
  padding: 12.5px;
  float: left;
  box-sizing: border-box;
}

#header-title{
  width: 150px;
  height: 40px;
  padding: 10px;
  float: left;
  text-align: center;
  box-sizing: border-box;
}

#header-search{
  width: 40px;
  height: 40px;
  padding: 12.5px;
  float: left;
  box-sizing: border-box;
}

#app-content{
  width: 100%;
  height: 353px;
  padding-top: 10px;
  padding-bottom: 36px;
  background-color: #e6e6e6;
  overflow-y: scroll;
  box-sizing: border-box;
}

#app-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#app-content::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

#app-content::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

#app-menu{
  width: 230px;
  height: 40px;
  position: fixed;
  bottom: 99px;
  background-color: #a4a4a4;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.tile{
  background: #ededed;
  border: 1px solid #9f9f9f;
  border-radius: 8px;
  width: 94px;
  height: 94px;
  margin: 8.5px 8.5px;
  float: left;
  color: #a3a3a3;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 2px 6px #c1c1c1;
}

.tile:hover > .tile-image{
  background-color: #736c6c;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.tile:hover > .tile-text{
  color: #736c6c;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.tile-image{
  height: 50px;
  width: 50px;
  margin: 14px auto 4px;
  /*background-color: #a4a4a4;*/
  background-color: var(--main-bg-color);
}

.tile-text{
  height: auto;
  width: 100%;
}

.tile-text a{
  text-decoration: none;
  color: #a3a3a3;
  font-size: 12px;
}

.clearfix{
  clear: both;
}

/* test shit */

#sortable2 {
  width: 100%;
  height: 290px;
  list-style-type: none;
}

#sortable2 > .tile {
  width: 99%;
  height: 40px;
  margin: 0px;
  border-radius: 0px;
  box-shadow: none;
}

#sortable2 > .tile > .tile-image {
  display: none;
}

#sortable2 > .tile > .tile-text {
  height: 18px;
  margin-top: 10px;
  width: 100%;
}

#test{
  border:1px dashed #2e2e2e;
  width: 98%;
  height: auto;
  padding: 1%;
  max-height: 290px;
  overflow-y: auto;
}

#colorpick-box
{
    width: 300px;
    height: 300px;
    border: 1px solid silver;
}

/* DELETE ME */

#accordion-container {
	font-size: 13px;
}

.accordion-header {
	font-size: 16px;
	background: #ebebeb;
	margin: 5px 0 0 0;
	padding: 5px 20px;
	border: 1px solid #cccccc;
	cursor: pointer;
	color: #666666;
}

.active-header {
	background-color: #a4a4a4;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.active-header:hover {
	background-color: #a4a4a4;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-header {
	background-color: #ebebeb;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-header:hover {
	background-color:#f5f5f5;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.accordion-content {
	display: none;
	padding: 20px;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-top: 0;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
